.home {
  .metaslider {
    overflow: hidden;
  }

  .quem-somos {
    background: url(../images/quem_somos_bg.jpg);
    background-position: center top;
    font-size: 18px;
    line-height: 1;
    height: 597px;

    .section-content {
      // width: 50%;
      padding-left: 50%;
      padding-top: 70px;
    }

    h2 {
      white-space: nowrap;
      margin-bottom: 30px;
      color: #393939;
    }
  }

  .contact-form {
    width: 830px;

    h2 {
      margin: 75px 0;
    }
  }
}
