.realizar-pedido {
  .menu {
    border: 1px solid #e1782c;
    padding: 20px 10px 10px;
    text-align: right;
    color: #1b1b1b;
    font-size: 19px;
    line-height: 1.4;
    font-weight: 600;
    width: 200px;

    > div {
      padding: 15px;
    }

    hr {
      border-color: #efbf9a;
      margin: 5px 0;
    }

    p {
      font-size: 22px;
      margin-bottom: 0;
    }

    label {
      margin-bottom: 0;
    }

    strong {
      font-size: 25px;
    }
  }

  .content-page {
    margin-bottom: 50px;

    p {
      color: #1b1b1b;
      font-size: 19px;
      font-weight: 600;
    }
  }

  .table-pedidos {
    // border: 3px solid red;
    background-color: #ebc9b0;
    font-size: 17px;
    font-weight: 600;

    select {
      text-align-last: center;
      text-align: center;
      background: none;
      font-size: 17px;
      font-weight: 600;
    }

    thead {
      background-color: #e1782c;
      color: #1b1b1b;
      font-size: 19px;
      // font-weight: 700;

      th {
        border: 0;
        padding: 15px 30px;

        &:nth-child(2) {
          background-color: #e59f30;
        }

        &:nth-child(3) {
          background-color: #c66016;
        }
      }
    }

    tbody {
      tr:first-child td {
        border-top: 0;
      }

      td {
        border-top-color: #fff;
        vertical-align: middle;
      }
    }

    tfoot {
      td,
      th {
        border-top-color: #fff;
        padding: 16px;
      }
    }
  }

  .contact-form {
    margin-top: 70px;
    margin-bottom: 70px;

    h4 {
      margin-bottom: 30px;
    }

    .row {
      margin-bottom: 20px;
    }

    .col-7 {
      padding-right: 5px;
    }

    .form-control {
      &.ng-invalid.ng-touched {
        border-color: red;
      }

      + span {
        color: red;
      }

      &.ng-untouched + span,
      &.ng-valid + span {
        display: none;
      }
    }

    .btn-primary {
      color: #2b2b2b;
      font-size: 18px;
      font-weight: 700;
      background-color: #f39000;
      width: 318px;
      height: 60px;
      border: 0;
      margin: 50px auto;
      display: block;
    }
  }
}
