@include bg-variant('.bg-orange', #e1782c);

$baseline: 20px;

@include media-breakpoint-up(md) {
  .navbar {
    padding-top: ($baseline+8px);

    .navbar-brand {
      position: relative;
      top: -$baseline;
      margin-bottom: -$baseline;
    }
  }
}

.navbar-brand {
  margin-right: 0;

  @include media-breakpoint-down(sm) {
    img {
      height: 50px;
    }
  }
}

.navbar-nav.-primary {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-up(md) {
    margin: 0 4%;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 7%;
  }

  .nav-link {
    // font-family: Muli;
    // color: #1b1b1b;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
  }
}

.navbar-nav.-social {
  flex-direction: row;
  justify-content: space-around;

  // .nav-item {
  //   display: inline-block;
  // }

  .nav-link {
    font-size: 36px;

    i {
      vertical-align: sub;
    }
  }
}

.page-header {
  margin-bottom: 50px;
  // position: relative;
  overflow: hidden;

  h2 {
    color: #2b2b2b;
    font-size: 50px;
    line-height: 160px;
    padding-top: 20px;
    // font-weight: 700;
    // text-align: center;
    // margin-left: calc(16.66667% + 1.4rem);
    // padding-left: ;
    position: relative;
    // display: inline-block;

    &::before,
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      background: url(../images/header-pattern.png);
      // margin-left: -150px;
      width: 100vw;
      top: 0;
    }

    &::before {
      margin-right: 140px;
      right: 100%;
      background-position: right -40px;
    }

    &::after {
      margin-left: 140px;
      background-position-y: -35px;
    }
  }
}
